@charset "utf-8";
/* CSS Document */
body, html {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #ffffff;
	background-image: url('./Ruby-plain-1920x1080.png');
}

#container { 
	position: relative;
	width: 50%;
	background: rgba(1.0, 1.0, 1.0, 0.7);
	margin: 0 auto;
	margin-bottom: 3%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	border-radius: 20px;
}
#banner {
	position: relative;
	text-align: center;;
}

#footer {
	left: 25%;
	width: 50%;	
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: xx-small;
	color: #dddddd;
}

img.middle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p.centre {
	display: block;
	margin-left: 15%;
	margin-right: auto;
}
ul.centre {
	display: block;
	margin-left: 20%;
	margin-right: auto;
}

.thumbnail 
{
	float:left;
	width:160px;
	height:90px;
	margin:10px;
	padding-bottom: 10px;
}
.text_line
{
clear:both;
margin-bottom:4px;
}

#images img {
	width:80px;
	padding:6px;
}

a:link { color: #458B00; /*chartreuse4 (green)*/ }
a:visited { color: #BDA0CB; /*purple candy*/ }
p { line-height: 150%; }
ul { line-height: 175%; }

@media screen and (orientation:portrait) {
#container { 
	position: relative;
	width: 90%;
	background: rgba(1.0, 1.0, 1.0, 0.7);
	margin: 0 auto;
	margin-bottom: 10%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	border-radius: 20px;
}

}
