Package: sfwbar
Version: 1.0~beta15-0.1
Architecture: amd64
Maintainer: H. Sumen <hsumen@bunsenlabs.org>
Installed-Size: 1078
Depends: libc6 (>= 2.34), libcairo2 (>= 1.6.0), libgdk-pixbuf-2.0-0 (>= 2.22.0), libglib2.0-0t64 (>= 2.79.0), libgtk-3-0t64 (>= 3.23.0), libgtk-layer-shell0 (>= 0.6.0), libjson-c5 (>= 0.15), libpango-1.0-0 (>= 1.14.0), libwayland-client0 (>= 1.20.0)
Section: x11
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/LBCrion/sfwbar
Description: SFWBar (S* Floating Window Bar) is a flexible taskbar application for wayland compositors, designed with a stacking layout in mind.
